@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "~bootstrap/scss/bootstrap";

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: #ddd;
  min-height: 100vh;

  #root {
    min-height: 100vh;
  }
}
